
@{
    Layout = null;
}
@using SchoolProject.Entities.Models
@model IEnumerable<Teacher>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <div class="container">
        <div class="row">


            <div class="col-md-12">
                <h4>Öğrenci Listesi</h4>
                <div class="table-responsive">
                    <table id="mytable" class="table table-bordred table-striped">
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td><input type="checkbox" class="checkthis" /></td>
                                    <td>@item.FullName</td>
                                    <td>@item.Address</td>
                                    <td>@item.PhoneNumber</td>
                                    <td>@item.Email</td>
                                    <td>
                                        <a href="/Teacher/UpdateTeacher/@item.Id" class=" btn btn-warning btn-xs" data-id="@item.Id"><span class="glyphicon glyphicon-trash"></span>Güncelle</a>
                                    </td>
                                    <td>
                                        <a href="#" class="removeLink btn btn-danger btn-xs" data-id="@item.Id"><span class="glyphicon glyphicon-trash"></span>Sil</a>
                                    </td>
                                </tr>
                            }
                        </tbody>

                    </table>

                </div>
            </div>
        </div>

        <script>
            $(document).ready(function () {
                $("#mytable #checkall").click(function () {
                    if ($("#mytable #checkall").is(':checked')) {
                        $("#mytable input[type=checkbox]").each(function () {
                            $(this).prop("checked", true);
                        });

                    } else {
                        $("#mytable input[type=checkbox]").each(function () {
                            $(this).prop("checked", false);
                        });
                    }
                });

                $("[data-toggle=tooltip]").tooltip();


            });
        </script>

        <!--sil butonu-->
        <script>
            $("a.removeLink").on("click", function () {
                debugger;
                var id = $(this).attr("data-id");
                var closestTR = $(this).closest("tr");
                var confirmDelete = confirm('ID\'si' + id + ' olan kayıdı silmek istediğinizden emin misiniz?');
                if (confirmDelete) {
                    $.ajax({
                        url: '/Teacher/DeleteTeacher/' + id,
                        type: 'POST',
                        success: function (result) {
                            if (result == true) {
                                closestTR.fadeOut(1000, function () {
                                    closestTR.remove();
                                });
                            }
                            else alert("Silme işlemi sırasında hata oluştu");
                        }
                    });
                }

                return false;
            });
        </script>

</body>
</html>

